@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.hero {
	display: grid;
	grid-template-areas:
		'logo . nav'
		'. . .'
		'social . .';
	grid-template-rows: repeat(3, 1fr);

	height: 100svh;

	font-family: $font-stack-code;

	background-color: clr(neutral, dark);

	& > * {
		padding: 1rem;
	}

	a {
		font-size: $font-size-subtitle;
		color: clr(neutral, light);
		text-decoration-color: transparent;
		text-transform: lowercase;

		opacity: 0.8;

		transition: all 100ms ease;

		&:hover {
			text-decoration-color: initial;
			opacity: 1;
		}
	}

	.logo {
		grid-area: logo;
		margin: 0;
		text-transform: uppercase;
	}

	.typewriter-container {
		grid-area: 1 / 1 / 4 / 4;
		place-self: center;
		font-size: $font-size-subtitle;
		text-align: center;

		.typewriter {
			display: block;
			font-size: $font-size-title * 2;
			text-transform: uppercase;
		}
	}

	.nav {
		display: flex;
		grid-area: nav;
		flex-direction: column;
		gap: 0.5em;

		text-align: right;
	}

	.social {
		display: flex;
		grid-area: social;
		flex-direction: column;
		place-self: self-end normal;
		align-items: flex-start;

		a {
			display: flex;
			flex-direction: row;
			gap: 0.5em;
			align-items: center;
		}
	}
}
