@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.home main {
  margin-inline: 2rem;

  @include media('>medium') {
    max-width: calc(40ch + 30rem);
    margin-inline: auto;
  }
}

.project-list-title {
  margin-block: 1em 2em;
  text-decoration: underline dotted clr(primary);
}

.project-list {
  justify-self: center;
  margin-block: 0;
  padding: 0;
  list-style: none;
}
