@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.home main {
  margin-inline: 2rem;

  @include media('>medium') {
    margin-inline: auto;
    max-width: calc(40ch + 30rem);
  }
}

.project-list-title {
  margin-block-start: 1em;
  margin-block-end: 2em;
  text-decoration: underline dotted clr(primary);
}

.project-list {
  margin-block: 0;
  padding: 0;
  list-style: none;
  justify-self: center;
}
