---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Hello, world!">
	<Hero />
	<p class="test">Content</p>
</Layout>

<style>
	.test {
		height: 100svh;
	}
</style>
