---
import Hero from '@components/Hero.astro';
import ProjectList from '@components/ProjectList.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Portfolio" page="home">
	<Hero />
	<main>
		<ProjectList />
		<div style="margin-block-end: 25em;">Temp</div>
	</main>
</Layout>
