@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: $font-size-main;
	background-color: clr(neutral);
}
