@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: clr(neutral);
}

a {
  color: clr(neutral, light);
  text-decoration-color: transparent;
  opacity: 0.8;
  transition: all 150ms ease;

  &:hover {
    color: clr(primary, light);
    text-decoration-color: initial;
    opacity: 1;
  }
}
